.footer {
  background: $purple;
  padding: 1em 0;

  &__container {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    @include screen(med) {
      flex-direction: column;
    }
  }

  &__copyright {
    color: $white;
    font-weight: $fw-normal;
    @include screen(med) {
      order: 3;
      margin-top: 1em;
    }
  }

  &__subtitle {
    color: $white;
    font-weight: $fw-normal;
    margin-right: 1em;
  }

  &__social {
    display: flex;
  }

  &__ic-soc {
    color: $white;
    font-size: 1.2em;
    transition: all .2s ease;
    &:hover {
      color: $orange;
    }
    @include screen(med) {
      margin-bottom: 1em;
    }
  }

  &__group {
    display: flex;  
    @include screen(med) {
      margin-top: 1em;
    }
  }

  &__email {
    display: flex;
    align-items: center;
    @include screen(med) {
      flex-direction: column;
    }
  }

  &__input-email {
    width: 12em;
    border: 1px solid rgba(black, .25);
    border-right: none;
    padding: .5em 1em;
    border-radius: .3em 0 0 .3em;
    transition: width .3s ease;
    color: $gray;
    &:focus {
      outline: none;
    }
  }
  
  &__btn-email {
   border:  1px solid rgba(black, .25);
   border-left: none;
   padding: .5em 1em;
   border-radius: 0 .3em .3em 0;
   background: lighten($purple, 40%);
   &:focus, &:active {
     outline: none,
   }
   &:hover {
     cursor: pointer;
     background: $orange;
   }
  }

  &__ic-email {
    color: $white;
  }
}