.header {
  background-color: $purple;
  padding: 1em 0;

  &__container {
    display: flex;  
    @include screen(med) {
      flex-direction: column;
    }
  }

  &__logo {  
    font-family: 'Sedgwick Ave Display', 'Roboto', sans-serif;
    color: $white;
    font-size: 2em;
    align-self: center;
  }

  &__profile {
    position: relative;
  }

  &__right {
    display: flex;
    margin-left: auto;
    @include screen(med) {
      margin-left: 0;
      align-self: center;
      margin-top: 1em;
    }
  }

  &__icon {
    display: inline-block;
    position: relative;
    width: 5em;
    height: 5em;
    background: url(https://images.unsplash.com/photo-1520271348391-049dd132bb7c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e5bc9b3a7c6af8a6f5eff9f9a214dae1&auto=format&fit=crop&w=334&q=80) center center no-repeat;
    border-radius: 50%;
    background-size: 100%;
    transition: all .3s ease-in;
    box-shadow: 7px 6px 8px -2px rgba(50,50,50,1);
    margin-right: 1em;

    &:hover {
      cursor: pointer;
      background-size: 120%;
      filter: blur(1px);
    }
  }

  &__notifications {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    color: $white;
    border: 1px solid rgba($white, .6);
    font-size: .7em;
    font-weight: $fw-normal;
    background-color: $red;
    bottom: 0;
    z-index: 5;
  }


  &__announcment {
    width: 10rem;
    list-style: none;
    position: absolute;
    background: $white;
    box-shadow: 8px 8px 7px -5px rgba(125,125,125,1);
    border-radius: .5em; 
    padding: 1em;
    top: 90px;
    left: -50px;
    border: 1px solid rgba($gray, .1);
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .7s ease;
    z-index: 10;

    &:hover {
      opacity: 1;
      visibility: visible;
      transform: translate3d(25px, 0, 0);
    }
  }

  &__icon:hover + &__announcment {
    visibility: visible;
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }


  &__triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #ffffff transparent;
    top: -10px;
    left: 50px;
  }

  &__note {
    display: flex;
    flex-direction: column;
    font-size: .7em;
    line-height: 1.5;
    font-weight: $fw-normal;
    margin-bottom: 1.5em;
    
    &:hover {
      cursor: default;
    }
  }

  &__time {
    align-self: flex-end;
    font-weight: $fw-semibold;
  }

  &__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: .8em;
    font-weight: $fw-medium;
    text-transform: uppercase;
    color: $purple;

    &:hover {
      font-weight: $fw-semibold;
    }
  }
}

.button_type_exit {
  color: $white;
  background: lighten($purple, 40%);
  align-self: center;
  transition: all 0.2s ease;
  
  &:hover {
    background: $orange;
  }
}