{{> html/start title="Доабавить вакансию" settings=settings }}
{{> header}}

<main class="main">
  <div class="background">
    <div class="container container_type_main">
      <section class="add">
          <span class="add__title">New vacancy</span>
          <form class="add__form">
            <div class="input-field input-field_type_add">
              <input type="text" required id="position" class="input-field__input">
              <label class="input-field__label" for="position">Position</label>
              <span class="input-field__underline input-field__underline_type_add"></span>
            </div>
            <div class="input-field input-field_type_add">
              <input type="text" required id="employer" class="input-field__input">
              <label class="input-field__label" for="employer">Employer</label>
              <span class="input-field__underline input-field__underline_type_add"></span>
            </div>
            <div class="input-field input-field_type_add input-field_type_textarea">
              <textarea type="textarea" required id="employer-desc" class="input-field__input input-field__input_type_textarea"></textarea>
              <label class="input-field__label" for="employer-desc">Employer description</label>
              <span class="input-field__underline input-field__underline_type_add input-field__underline_type_textarea"></span>
            </div>
            <div class="input-field input-field_type_add">
              <input type="number" required id="salary" class="input-field__input">
              <label class="input-field__label" for="salary">Salary $</label>
              <span class="input-field__underline input-field__underline_type_add"></span>
            </div>
            <div class="input-field input-field_type_add">
              <input type="number" required id="work-time" class="input-field__input">
              <label class="input-field__label" for="work-time">Work time (min)</label>
              <span class="input-field__underline input-field__underline_type_add"></span>
            </div>
            <div class="input-field input-field_type_add">
              <input type="number" required id="road-time" class="input-field__input">
              <label class="input-field__label" for="road-time">Road time (min)</label>
              <span class="input-field__underline input-field__underline_type_add"></span>
            </div>
            <div class="add__checkbox-group">
              <label class="add__label add__label_type_checkbox">Intersting 
                <input class="add__input-checkbox" type="checkbox">
                <span class="add__checkmark"></span>
              </label>
              <label class="add__label add__label_type_checkbox">Study 
                <input class="add__input-checkbox" type="checkbox">
                <span class="add__checkmark"></span>
              </label>     
            </div>
           <div class="input-field input-field_type_add">
              <textarea type="textarea" required id="comment" class="input-field__input input-field__input_type_textarea"></textarea>
              <label class="input-field__label" for="comment">Comment</label>
              <span class="input-field__underline input-field__underline_type_add input-field__underline_type_textarea"></span>
            </div>
            <div class="add__checkbox-group">
              <div class="add__status-group">
                <label class="add__label add__label_type_checkbox">Candidate 
                  <input class="add__input-checkbox" type="checkbox">
                  <span class="add__checkmark"></span>
                </label>
                <label class="add__label add__label_type_checkbox">Offer 
                  <input class="add__input-checkbox" type="checkbox">
                  <span class="add__checkmark"></span>
                </label>
                <label class="add__label add__label_type_checkbox">Failure 
                  <input class="add__input-checkbox" type="checkbox">
                  <span class="add__checkmark"></span>
                </label>
                <label class="add__label add__label_type_checkbox">Does not fit
                  <input class="add__input-checkbox" type="checkbox">
                  <span class="add__checkmark"></span>
                </label>
              </div>
            </div>
            <div class="add__btn-group">
              <a class="button button_type_add button_add_mr-r" href="vacancy">Save</a>
              <a class="button button_type_add" href="rating">Cancel</a>
            </div>
          </form>
      </section>
    </div>
  </div>
</main>
{{> footer}}
{{> html/end }}