{{> html/start title="Вакансия" settings=settings }}
{{> header}}

<main class="main">
  <div class="background">
    <div class="container">
      <section class="employer">
        <div class="employer__headline">
          <span class="employer__title">Лаборатория Касперского</span>
          <a class="button button_type_employer" href="rating">К рейтингу</a>
        </div>

        <div class="employer__main">
          <div class="employer__aside">
            <div class="employer__img-wrapper">
              <img src="../../static-assets/img/1.png" alt="img" class="employer__img">
            </div>
          </div>
          <div class="employer__content">    
            <p class="employer__info">
            «Лаборатория Касперского» – международная компания, работающая в сфере информационной безопасности с 1997 года. Глубокие экспертные знания и многолетний опыт компании лежат в основе защитных решений и сервисов нового поколения, обеспечивающих безопасность бизнеса, критически важной инфраструктуры, государственных органов и рядовых пользователей. Обширное портфолио «Лаборатории Касперского» включает в себя передовые продукты для защиты конечных устройств, а также ряд специализированных решений и сервисов для борьбы со сложными и постоянно эволюционирующими киберугрозами. Технологии «Лаборатории Касперского» защищают более 400 миллионов пользователей и 270 тысяч корпоративных клиентов во всем мире.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
{{> footer}}
<script src="../../static-assets/js/fetchDB.JS"></script>
<script src="../../static-assets/js/employer.js"></script>
{{> html/end }}