{{> html/start title="Authorization" settings=settings }}

<section class="authorization">
  <form class="authorization__form">
    <div class="authorization__group">
      <i class="fas fa-user"></i>
      <div class="input-field input-field_add_mrl">
        <input type="text" required id="login" class="input-field__input">
        <label class="input-field__label" for="login">Login</label>
        <span class="input-field__underline"></span>
      </div>
    </div>
    <div class="authorization__group">
      <i class="fas fa-key"></i>
      <div class="input-field input-field_add_mrl">
        <input type="password" required id="password" class="input-field__input">
        <label class="input-field__label" for="password">Password</label>
        <span class="input-field__underline"></span>
      </div>
    </div>
    <div class="authorization__btn-group">
      <a href="register" class="button button_type_authorization">Sign Up</a>
      <a href="rating" class="button button_type_authorization button_type_sign-in">Sign in</a>
    </div>
  </form>
</section>
<script src="../../static-assets/js/auth.js"></script>
{{> html/end }}