{{> html/start title="Рейтинг" settings=settings }}
{{> header}}

<main class="main main_type_rating">
  <div class="background">
    <div class="container container_type_main">
      <section class="rating">
        <form class="rating__form">
          <div class="rating__row">
            <input type="text" class="rating__search" placeholder="Поиск">
            <div class="rating__multi-select">
              <div class="rating__select-box">
                <span class="rating__select-header">Статус</span>
                <i class="fas fa-caret-down rating__select-ic"></i>
              </div>
              <div class="rating__checkboxes">
                <label class="rating__label" for="one">кандидат
                  <input type="checkbox" class="rating__checkbox-input" id="one">
                  <span class="rating__checkmark"></span>
                </label>
                <label class="rating__label" for="two">
                  <input type="checkbox" class="rating__checkbox-input" id="two">оффер
                  <span class="rating__checkmark"></span>
                </label>
                <label class="rating__label" for="three">
                  <input type="checkbox" class="rating__checkbox-input" id="three">отказ
                  <span class="rating__checkmark"></span>
                </label>
                <label class="rating__label" for="four">
                  <input type="checkbox" class="rating__checkbox-input" id="four">не подходит
                  <span class="rating__checkmark"></span>
                </label>
              </div>
            </div>
          </div>
          <a class="rating__add" href="add">Добавить<i class="fas fa-plus rating__add-ic"></i></a>
        </form>
        <div class="rating__elements">

        </div>
        <div class="rating__controls">
          <div class="rating__pages">
            <span class="rating__current">1</span>
            of
            <span class="rating__total">10</span>
          </div>
          <button class="rating__prev"><i class="fas fa-arrow-left rating__ic-prev"></i></button>
          <button class="rating__next"><i class="fas fa-arrow-right rating__ic-next"></i></button>
        </div>
      </section>
    </div>
  </div>
</main>
  
{{> footer}}
<script src="../../static-assets/js/fetchDB.js"></script>
<script src="../../static-assets/js/accordion.js"></script>
<script src="../../static-assets/js/addRatingItem.js"></script>
<script src="../../static-assets/js/search.js"></script>
{{> html/end }}