{{> html/start title="Register" settings=settings }}

<section class="authorization">
  <form class="authorization__form">
    <div class="authorization__group">
      <i class="fas fa-user"></i>
      <div class="input-field input-field_add_mrl">
        <input type="text" required id="login" class="input-field__input">
        <label class="input-field__label" for="login">Login</label>
        <span class="input-field__underline"></span>
      </div>
    </div>
    <div class="authorization__group">
      <i class="fas fa-key"></i>
      <div class="input-field input-field_add_mrl">
        <input type="password" required id="password" class="input-field__input">
        <label class="input-field__label" for="password">Password</label>
        <span class="input-field__underline"></span>
      </div>
    </div>
    <div class="authorization__group">
      <i class="fas fa-key"></i>
      <div class="input-field input-field_add_mrl">
        <input type="password" required id="r-password" class="input-field__input">
        <label class="input-field__label" for="r-password">Repeat password</label>
        <span class="input-field__underline"></span>
      </div>
    </div>
    <div class="authorization__group">
      <i class="fas fa-envelope"></i>
      <div class="input-field input-field_add_mrl">
        <input type="text" required id="email" class="input-field__input">
        <label class="input-field__label" for="email">Email</label>
        <span class="input-field__underline"></span>
      </div>
    </div>
    <div class="authorization__btn-group">
      <span href="register" class="button button_type_authorization">Register</span>
      <a href="index" class="button button_type_authorization">Cancel</a>
    </div>
  </form>
</section>
{{> html/end }}