{{> html/start title="Вакансия" settings=settings }}
{{> header}}
<main class="main">
  <div class="background">
    <div class="container">
      <section class="vacancy">

        <div class="vacancy__headline">
          <span class="vacancy__title">Junior UI Designer</span>
          <div class="vacancy__right">
            <span class="vacancy__salary">40000 ₽</span>
            <span class="status status_type_1 status_type_vacancy">оффер</span>
          </div>
          <a class="button button_type_vacancy" href="rating">К рейтингу</a>
        </div>

        <div class="vacancy__main">

          <div class="vacancy__parametr vacancy__parametr_type_employer">
            <i class="fas fa-building vacancy__ic"></i><span class="vacancy__subtitle">SecInc. Филиал Северо-Запад</span>
            <p class="vacancy__info vacancy__info_type_desc">
              Работает с 2007 года. Компания занимается разработкой ПО для военно-промышленного комплекса. 
            </p>
          </div>

          <div class="vacancy__group">

            <div class="vacancy__row">
              <div class="vacancy__parametr vacancy__parametr_type_short">
                <span class="vacancy__subtitle"><i class="fas fa-graduation-cap vacancy__ic"></i>Требует обучения</span>
                <p class="vacancy__info vacancy__info_type_study">Нет</p>
              </div>

              <div class="vacancy__parametr vacancy__parametr_type_short">
                <span class="vacancy__subtitle"><i class="fas fa-brain vacancy__ic"></i>Интересная</span>
                <p class="vacancy__info vacancy__info_type_interest">Да</p>
              </div>
            </div>

            <div class="vacancy__row">
              <div class="vacancy__parametr vacancy__parametr_type_short">
                <span class="vacancy__subtitle"><i class="fas fa-car vacancy__ic"></i>Дорога до работы</span>
                <p class="vacancy__info vacancy__info_type_roadTime">60 минут</p>
              </div>

              <div class="vacancy__parametr vacancy__parametr_type_short">
                <span class="vacancy__subtitle"><i class="fas fa-business-time vacancy__ic"></i>Рабочий день</span>
                <p class="vacancy__info vacancy__info_type_workTime">480 минут</p>
              </div>
            </div>

          </div>

          <div class="vacancy__parametr">
            <span class="vacancy__subtitle"><i class="fas fa-info-circle vacancy__ic"></i>Комментарий</span>
            <p class="vacancy__info vacancy__info_type_comment">ДМС, гибкий график, столовая</p>
          </div>

        </div>

        <a class="button button_type_edit" href="add">Редактировать</a>
      </section>
    </div>
  </div>
</main>

{{> footer}}
<script src="../../static-assets/js/fetchDB.JS"></script>
<script src="../../static-assets/js/vacancy.js"></script>
{{> html/end }}