.add {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;

  &__title {
    font-size: 2em;
    font-weight: $fw-medium;
    color: $gray;
    text-align: center;
    margin: 1em 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.3);
    padding: 4em 0;
    border-radius: .3em;
    width: 70%;
    @include screen(med) {
      width: 80%;
    }
    @include screen(sm) {
      width: 95%;
    }
  }

  &__label {
    width: 80%;
    display: flex;
    flex-direction: column;
    @include screen(med) {
      width: 60%;
    }
  }

  &__label_type_checkbox {
    font-weight: $fw-thin;
    font-size: 1.5em;
    color: $gray;
    width: auto;
    position: relative;
    flex-direction: row;
    align-items: center;
    user-select: none;
    margin-bottom: 1em;
    &:hover {
      cursor: pointer;
    } 
    @include screen(sm) {
      font-size: 1.25em;
    }
  }

  &__input-text {
    font-size: .9em;
    color: $gray;
    font-weight: $fw-thin;
    border: 1px solid $gray-light;
    padding: .4em .5em;
    margin-top: .6em;
    transition: border .2s ease-in-out;
    border-radius: .2em;
    &:focus {
      border: 1px solid lighten($purple, 10%);
    }
  }

  &__input-textarea {
    font-size: .9em;
    color: $gray;
    font-weight: $fw-thin;
    border: 1px solid $gray-light;
    resize: none;
    margin-top: .6em;
    padding: .4em .5em;
    border-radius: .2em;
    &:focus {
      border: 1px solid lighten($purple, 10%);
    }
  }

  &__input-checkbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__checkmark {
    position: absolute;
    top: .1em;
    right: -1.5em;
    height: 1em;
    width: 1em;
    background-color: #bbb;
  }

  &__checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  &__input-checkbox:hover + &__checkmark {
    background-color: #ccc;
  }

  &__input-checkbox:checked + &__checkmark {
    background-color: lighten($purple, 10%);
  }

  &__input-checkbox:checked + &__checkmark:after {
    display: block;
  }

  &__checkmark:after {
    left: 0.3125em;
    top: 0.125em;
    width: 0.25em;
    height: 0.4375em;
    border: solid white;
    border-width: 0 0.125em 0.125em 0;
    transform: rotate(45deg);
  }


  &__checkbox-group {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2em;
    @include screen(med) {
      width: 40%;
      flex-direction: column;
      align-self: space-evenly;
    }
    @include screen(sm) {
      width: 60%;
    }
  }

  &__status-group {
    width: 100%;
    display: flex; 
    justify-content: space-around;
    padding-right: 1.5em;
    margin-top: .6em;
    @include screen(med) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__option {
    font-weight: $fw-normal;
    font-size: 1em;
    position: relative;
    width: auto;
    user-select: none;
    &:hover {
      cursor: pointer;
    }
    @include screen(med) {
      margin-bottom: .5em;
    }
  }
  
  &__btn-group {
    display: flex; 
    @include screen(sm) {
      flex-direction: column;
    }
  }
}

.input-field_type_add {
  font-size: 24px;
  margin-bottom: 2em;
  width: 80%;
  @include screen(sm) {
    font-size: 20px;
  }
}

.button_type_add {
  width: 8em;
  background: lighten($purple, 20%);
  transition: all .2s ease-in;
  &:hover {
    background: $orange;
  }
}

.button_add_mr-r {
  margin-right: 2em;
  @include screen(sm) {
    margin-bottom: 2em;
    margin-right: 0;
  }
}
