.employer {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;

  &__headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $purple;
    padding: 2em 5em;
    @include screen(med) {
      padding: 2em 2em;
    }
    @include screen(sm) {
      flex-direction: column;
      padding: 2em 1em 1em 1em;
    }
  }

  &__title {
    font-weight: $fw-medium;
    font-size: 2em;
    @include screen(med) {
      font-size: 1.5em;
    }
  }

  &__main {
    display: flex;
    @include screen(sm) {
      flex-direction: column;
    }
  }

  &__aside {
    @include screen(sm) {
      display: flex;
      justify-content: center;
    }
  }

  &__img-wrapper {
    width: 10em;
    height: 10em;
    text-align: center;
    vertical-align: top;
    line-height: 10em;
    @include screen(med) {
      width: 8em;
      height: 8em;
      line-height: 8em;
    }
  }

  &__img {
    max-width: 10em;
    max-height: 10em;
    vertical-align: middle;
    @include screen(med) {
      max-width: 8em;
      max-height: 8em;
    }
  }

  &__content {
    margin-left: 2em;
  }

  &__info {
    font-size: 1em;
    line-height: 1.8;
    font-weight: $fw-thin;
    padding: 1em 0 1em;
  }
}

.button_type_employer {
  display: inline-block;
  background: lighten($purple,20%);
  transition: all 0.2s ease;
  margin-top: 1em;
  &:hover {
    background: $orange;
  }
}