.rating {
  padding-bottom: 2em;

  &__form {
    display: flex; 
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__search {
    width: 6.5em;
    font-weight: $fw-thin;
    padding: .3em 0 .3em 2.2em;
    background: url(../img/search.svg) 0.8em no-repeat;
    background-size: .9em;
    border: 1px solid rgba(black, .25);
    border-radius: .3em;
    transition: all 0.3s ease-in-out;

    &:focus {
      outline: none;
      width: 15em;
      background-color: $white;
      border-radius: 1em;
    }

    @include screen(sm) {
      width: 50%;
      &:focus {
        width: 50%;
      }
    }
  }

  &__multi-select {
    position: relative;
  }

  &__select-box {
    width: 7em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: $gray;
    font-weight: $fw-thin;
    border-radius: .3em;
    border: 1px solid rgba(black, .25);
    padding: .3em 1em .3em 1em;
    user-select: none;
    &:hover {
      cursor: pointer;
    }
  }

  &__select-ic {
    transition: all .2s ease;
  }

  &__select-ic_type_reverse {
    transition: all 0.2s ease;
    transform: rotate(180deg);
  }

  &__checkboxes {
    width: 7em;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.3em;
    left: 0;
    visibility: hidden;
    opacity: 0;
    border: 1px solid rgba(black, .25);
    border-radius: 0 0 .3em .3em;
    padding: 1em 0.3em 0.3em 0.5em;
    border-top: none;
    background: $white;
    transition: all .3s ease-out;
  }

  &__label {
    display: block;
    position: relative;
    font-weight: $fw-thin;
    font-size: .8em;
    display: block;
    user-select: none;
    margin-bottom: .7em;
    padding-left: 1.5em;
    &:hover {
      cursor: pointer;
    }
  }

  &__checkbox-input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #ddd;
  }

  &__checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  &__checkbox-input:hover + &__checkmark {
    background-color: #ccc;
  }

  &__checkbox-input:checked + &__checkmark {
    background-color: lighten($purple, 10%);
  }

  &__checkbox-input:checked + &__checkmark:after {
    display: block;
  }

  &__checkmark:after {
    left: 4px;
    top: 2px;
    width: 3px;
    height: 5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  &__add {
    width:  10em;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    color: $white;
    border: 1px solid lighten($purple, 10%);
    color: lighten($purple, 10%);
    border-radius: .3em;
    margin-top: 1em;
    transition: all .35s ease-in-out;
    &:hover {
      background: lighten($purple, 10%);
      color: $white;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
      border-radius: 1em; 
    }

    @include screen(med) {
      background: lighten($purple, 10%);
      color: $white;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
      border-radius: 1em; 
    }
  }

  &__add:hover .rating__add-ic {
    color: $white;
  }

  &__add-ic {
    color: lighten($purple, 10%);
    font-size: .8em;
    margin-left: .5em;
    transition: color .2s ease-in-out;
    @include screen(med) {
      color: $white;
    }
  }

  &__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: $fw-thin;
    width: 3.5em;
    margin-right: 1em;
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
  }

  &__prev, &__next {
    background: none;
    border: none;
    padding: 1em;
    &:hover {
      cursor: pointer;
    }
  }

  &__prev {
    margin-right: .5em;
    padding-right: .5em;
  }

  &__next {
    padding-left: .5em;
  }

  &__ic-prev, &__ic-next {
    color: $gray;
  } 
}