.vacancy {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;

  &__headline {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $purple;
    padding: 2em 5em;
    @include screen(med) {
      flex-direction: column;
    }
    @include screen(sm) {
      flex-direction: column;
      padding: 2em 3em;
    }
  }
   
  &__right {
    display: flex;
    align-items: center;
    margin-left: auto;
    @include screen(med) {
      margin-left: 0;
      margin-top: 1em;
    }
  }

  &__main {
    margin-top: 2em;
  }

  &__title {
    font-weight: $fw-medium;
    font-size: 2em;
    @include screen(med) {
      font-size: 1.5em;
    }
  }

  &__subtitle {
    font-weight: $fw-normal;
    font-size: 1.2em;
  }

  &__ic {
    margin-right: 1em;
  }

  &__salary {
    font-weight: $fw-thin;
    font-size: 2em;
    white-space: nowrap;
    @include screen(med) {
      font-size: 1.5em;
    }
  }

  &__info {
    font-size: 1.2em;
    font-weight: $fw-thin;
    margin-top: 1em;
  }

  &__group {
    width: 70%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.2);
    padding: 2em 3em;
    border-radius: .3em;
    margin: 2em 0;
    @include screen(med) {
      width: 22em;
      margin: 2em auto;
    }
    @include screen(sm)  {
      width: 100%;
      flex-direction: column;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    @include screen(med) {
      flex-direction: column;
    }
   }

  &__parametr {
    margin-top: 1em;
  }

  &__parametr_type_short {
    flex: 0 1 45%;
  }
}

.status_type_vacancy {
  margin-left: 2em;
  @include screen(sm) {
    margin-bottom: 0;
  }
}

.button_type_edit {
  width: auto;
  align-self: flex-start;
  background: lighten($purple, 20%);
  transition: all .2s ease;
  margin-top: 2em;
  &:hover {
    background: $orange;
  }
  @include screen(sm) {
    align-self: center;
  }
}

.button_type_vacancy {
  display: inline-block;
  background: lighten($purple,20%);
  transition: all 0.2s ease;
  margin-left: 1em;
  &:hover {
    background: $orange;
  }
  @include screen(med) {
    margin-top: 1em;
    margin-left: 0;
  }
}