// Define the breakpoints
$breakpoint-sm: 450px;
$breakpoint-md: 1000px;

@mixin screen($size, $type: max, $pixels: $breakpoint-md) {
  @if $size == 'med' {
    @media screen and ($type + -width: $breakpoint-md) {
        @content;
    }
  }
  @else if $size == 'sm' {
    @media screen and ($type + -width: $breakpoint-sm) {
        @content;
    }
  }
  @else {
    @content;
  }
}