$gray: #585858;
$gray-light: #A8A8A8;
$purple-light: #7b1fa2;
$purple: #4a148c;
$orange: #e65100;
$white: #fff;
$red: #d50000;

$fw-thin: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 700;
$fw-bold: 900;

$ff: 'Roboto', Tahoma, sans-serif;