* {box-sizing: border-box;}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', Tahoma, sans-serif;
  color: $gray;
  font-weight: $fw-medium;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header, footer {
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background: rgba(#b17fed, .4);
  z-index: 1;
  position: relative;
}

.background {
  width: 64em;
  flex: 1 0 auto;
  height: 100%;
  position: relative;
  background: $white;
  z-index: 5;
  align-self: center;
  box-shadow: 2px 0 3px 0px rgba(0,0,0,0.2), -2px 0 3px 0px rgba(0,0,0,0.2);
  transition: all .2s ease-in-out;
  @media screen and (max-width: 1100px) {
    width: 100%;
    box-shadow: none;
  }
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

a {
  text-decoration: none;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

h1, h2, h3, p {
  margin: 0;
}

textarea, input {padding: 0;}

input:focus, textarea:focus, button:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}
