<footer class="footer">
  <div class="container footer__container">
    <p class="footer__copyright">© 2018 Nikitulb</p>
    <div class="footer__social">
      <span class="footer__subtitle">Contact for bugs and wishes</span>
      <a href="https://t.me/nikitulb"><i class="fab fa-telegram-plane footer__ic-soc"></i></a>
    </div>
    <form class="footer__email">
      <span class="footer__subtitle">Get updates on email permanently</span>
      <div class="footer__group">
        <input type="email" placeholder="Email" class="footer__input-email">
        <button class="footer__btn-email"><i class="far fa-envelope footer__ic-email"></i></button>
      </div>
    </form>
  </div>
</footer>