<header class="header">
  <div class="container header__container">
    <a href="rating" class="header__logo">Job Dashboard</a>
    <div class="header__right">
      <div class="header__profile">
        <div class="header__icon"></div>
        <ul class="header__announcment">
          <i class="header__triangle"></i>
          <li class="header__note">Новый статус вакансии Java Junior <span class="header__time">12:30 10 октября</span></li>
          <li class="header__note">Оффер от DST-Global <span class="header__time">10:30 09 октября</span></li>
          <li class="header__note">Приглашение на собеседование SecIncs <span class="header__time">19:43 07 октября</span></li>
          <li class="header__note">Новый статус вакансии Fullstack dev <span class="header__time">11:07 05 октября</span></li>
          <a href="#" class="header__link">Смотреть все</a>
        </ul>
        <span class="header__notifications">8</span>
      </div>
      <a href="index" class="button button_type_exit">Выйти</a>
    </div>
  </div>
</header>