<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="/static-assets/js/index.js" type="text/javascript"></script>
    <script>
        (function () {
            const port = 'ws://localhost:{{ port }}';
            const socket = new WebSocket(port);
            // Listen for messages
            socket.addEventListener('message', function (event) {
                if (event.data === 'reload') {
                    window.location.href = window.location.href;
                }
            });
        })();
    </script>
    <link rel="stylesheet" href="../../static-assets/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
