<section class="rating-item">
  <div class="rating-item__headline">
    <span class="rating-item__title">Junior UI Designer</span>
    <span class="rating-item__salary">40000₽</span>
    <span class="status status_type_1 status_add_mrb">кандидат</span>
    <i class="fas fa-angle-down"></i> rating-item__ic"></i>
  </div>
  <div class="rating-item__info">
    <div class="rating-item__row">
      <div class="rating-item__parametr">
        <i class="fas fa-building"></i> 
        <span class="rating-item__subtitle">Касперский</span>
      </div>
      <div class="rating-item__parametr">
        <i class="fas fa-business-time"></i>
        <span class="rating-item__subtitle">480 минут</span>
      </div>
      <div class="rating-item__parametr">
        <i class="fas fa-car"></i>
        <span class="rating-item__subtitle">60 минут</span>
      </div>
    </div>
    <div class="rating-item__row rating-item__row_type_links">
      <a href="employer" class="rating-item__link">Работодатель</a>
      <a href="vacancy" class="rating-item__link rating-item__link_add_mrl">Вакансия</a>
    </div>
  </div>
</section>