.authorization {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

  &__form {
    flex: 0 1 20em;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 3px 1px 22px -1px rgba(158,158,158,1); 
    padding: 3em 3em 2em;
    @include screen(sm) {
      width: 80%;
      padding: 3em 1.5em 2em;
    }
  }

  &__group {
    display: flex;
    margin-bottom: 2em;
  }

  &__btn-group {
    display: flex;
    justify-content: space-between;
  }
}

.button_type_authorization {
  align-self: flex-end;
  background: $purple;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  
  &:hover, &:active {
    background: darken($purple, 5%);
  }
}

.input-field_add_mrl {
  margin-left: 1em;
}


