.button {
  font-family: $ff;
  padding: .5em 1em;
  font-weight: $fw-normal;
  color: $white;
  font-size: 1em;
  border: none;
  text-align: center;
  border-radius: .3em;

  &:hover, &:active {
    cursor: pointer;
  }
}