.input-field {
  display: inline-block;
  position: relative;
  height: 1.1875em;
  width: 100%;

  &_type_textarea {
    height: 2.375em;
  }

  &__input_type_textarea {
    resize: none;
  }
  
  &__input {
    position: absolute;
    border: none;
    cursor: text;
    color: $gray;
    font-size: 1em;
    background: transparent;
    border-bottom: 1px solid $gray-light;
    width: 100%;
  
    &:focus ~ .input-field__underline,
    &:valid ~ .input-field__underline {
      transform: scale(1);
    }
  
    &:focus + .input-field__label,
    &:valid + .input-field__label {
      font-size: 70%;
      transform: translate3d(0, -1.5em, 0);
      opacity: 1;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    transition: all 0.3s;
    font-weight: $fw-thin;
    opacity: 0.6;
  
    &:hover {
      cursor: text;
    }
  }

  
  &__underline {
    background-color: $purple;
    display: inline-block;
    height: 2px;
    position: absolute;
    top: 1.1em;
    transform: scale(0, 1);
    transition: all 0.2s linear;
    width: 100%;
  }

  &__underline_type_textarea {
    top: 2.3em;
  }
}

