.rating-item {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  border-radius: .5em;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  margin-bottom: .7em;
  user-select: none;
  @include screen(med) {
    width: 80%;
  }
  @include screen(sm) {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    background: rgba($gray-light, .15);
  }

  &__headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__title {
    font-weight: $fw-medium;
    flex: 0 1 40%;
    @include screen(med) {
      flex: 0 1 40%;
    }
    @media screen and (max-width: 600px) {
      margin-bottom: .5em;
    }
  }

  &__salary {
    font-weight: $fw-normal;
    font-size: .9em;
    @media screen and (max-width: 600px) {
      margin-bottom: .5em;
    }
  }

  &__ic {
    transition: all 0.4s ease;
  }

  &__ic_add_rotate {
    transform: rotate(180deg);
    transition: all .4s ease;
  }

  &__info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }

  &__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0;
    @media screen and (max-width: 600px) {
      flex-direction: column;
      padding: 4em 0;
    }
  }

  &__row_type_links {
    justify-content: flex-end;
    padding: 1.2em 0;
    @media screen and (max-width: 600px) {
      justify-content: center;
      align-items: center;
      padding: 2em 0;
    }
  }

  &__parametr {
    @media screen and (max-width: 600px) {
      margin-bottom: .5em;
    }
  }

  &__subtitle {
    font-weight: $fw-thin;
    font-size: 1em;
    margin-left: 0.5em;
  }

  &__link {
    display: flex;
    align-items: center;
    border-radius: .3em;
    color: $white;
    background: lighten($purple, 20%);
    padding: .5em 2em;
    @media screen and (max-width: 600px) {
      display: inline-block;
      text-align: center;
      width: 60%;
      font-size: .9em;
      margin-bottom: .5em;
    }
    @include screen(sm) {
      width: 70%;
    }

    &:hover {
      background: lighten($purple, 25%);
    }
  }

  &__link_add_mrl {
    margin-left: 1em;
    @media screen and (max-width: 600px) {
      margin-left: 0;
    }
  }
}
