.status {
  width: 7em;
  font-weight: $fw-normal;
  color: $white;
  border-radius: 1em;
  font-size: .8em;
  padding: .3em .5em;
  text-align: center;

  @media screen and (max-width: 600px) {
    &_add_mrb {
      margin-bottom: .7em;
    }
  }

  &_type_1 {
    background: #00E676;
  }
  
  &_type_2 {
    background: #FF4081;
  }
  
  &_type_3 {
    background: #448AFF;
  }
  
  &_type_4 {
    background: #FFAB40;
  }
}

